nav{
  display: flex;
  align-items: center;
  background-color:#000080;
  color: white;
  padding: 30px 25px;
  height: 90px;
  font-family: sans-serif;
}
.nav-title,nav-detail{
 margin: 0;
}
.nav-title{
  margin-right: auto;
  color: aqua;
  font-weight: 700;
  font-size: 22px;
}

.nav-logo{
  height: 30px;
  margin-right: 7px;
}
.main{
 padding: 55px 35px;

 color: black;
 min-height: 100vh;
 background-image: url(./images/image.png);
 
min-width: 100%;
}

.main-title{
  margin: 0;
}
.main-facts{
  margin-top: 15px;
}

.main-facts>li{
  margin-top: 10px;
}

.main-facts>li::marker{
  font-size: 1.4rem;
  color: aqua;
}